*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width:576px){
    .tableDiv{
        overflow: scroll;
    }
}